/* 
    Created on : Aug 31, 2018, 11:30:50 AM
    Author     : Saurabh Shukla
*/

/*Nav menu css changes start*/

body{
    /*overflow-x: hidden;*/
    width: 100%;
    height: 100%;
}
nav.navbar {
    height: 70px;
    background-color: rgba(20, 20, 20, 1);
    opacity: 0.5;
    /*overflow-x: hidden;*/
}

li.nav-item:hover {
    background-color: rgba(20, 20, 20, 1) !important;
    color: #ffffff !important;
}

.navbar-light .navbar-nav .nav-link {
    font-family: Alegreya;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 4.2px;
    text-align: left;
    color: #ffffff;
}


@media (min-width: 992px){
    header.masthead {
        height: 900px;
        min-height: 900px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-expand-lg .navbar-nav {
        padding-left: 90px;
        text-transform: uppercase;
    }
}

ul.social-media{
    list-style: none;
    padding-top: 14px;
    padding-left: 100px;
}
ul.social-media li {
    display: inline;
    padding: 12px;
}

/*Nav menu css changes end*/

/*Hero css changes start*/

header.masthead{
    background-image: url("../images/png-image/hero-jpg.png");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center!important;
}

.layer{
    background-color: rgba(20, 20, 20, 0.1);
}

.banner-text {
    font-family: PlayfairDisplay;
    font-size: 92px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.26;
    letter-spacing: 6.9px;
}

.line{
    margin-top: 46px; 
    width: 223px;
    height: 2px;
    opacity: 0.54;
    background-color: #ffffff;
}

.sub-text {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 2.4px;
    color: #ffffff;
}

.sub-text p{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.btnMenu {
    opacity: 0.6;
    padding: 10px 30px 10px 30px;
    background-color: #56534c;
    border: solid 1px #9e9c93;
    font-family: Alegreya;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 4.2px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
}

/*Hero css changes end*/

/*Section first css changes start*/

#menu{
    background-color: #ffffff;
    margin-top: 105px;
}

.food-icon img{
    margin-top: -55%;
    position: absolute;
}

.art-of-cakes .sub-text{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 1.4px;
    text-align: center;
    color: #a47d5e;
}

.art-of-cakes .title{
    font-weight: bold;
    font-family: Alegreya;
    text-align: center;
    font-size: 48px;
    line-height: 0.63;
    letter-spacing: 1.2px;
    color: #56534c;
}

.art-of-cakes .summary{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: center;
    color: #56534c;
}

.art-of-cakes .chef-cook{
    font-family: Alegreya;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: center;
    color: #56534c;
}

.art-of-cakes .chef-profile{
    text-align: center;
}

.art-of-cakes .chef-profile span{
    font-family: Alegreya;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: center;
    color: #56534c;
    padding: 10px 20px 10px 20px;
    margin : 10px 20px 10px 20px;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
}

.art-of-cakes .block-quote{
    margin: 10px 15px;
}

.art-of-cakes .block-quote .char-one{
    opacity: 0.5;
    font-family: TimesNewRomanPSMT;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: 1.5px;
    color: rgba(86, 83, 76, 0.5);
    text-align: left;
    margin: 0px 0px 0px 60px;
}

.art-of-cakes .block-quote .char-two{
    opacity: 0.5;
    font-family: TimesNewRomanPSMT;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: 1.5px;
    color: rgba(86, 83, 76, 0.5);
    text-align: right;
    margin: 20px 60px 0px 0px;
}

.art-of-cakes .block-quote .text{
    font-family: TimesNewRomanPSMT;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 5.6px;
    text-align: center;
    color: #a47d5e;
}

.taste-good img{
    margin-top: -400%;
    margin-left: 212%;
    position: absolute;
    text-align: center;
}

.taste-good p{
    margin-top: -325%;
    margin-left: 299%;
    position: absolute;
    font-family: Alegreya;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    color: #c9b176;
}

.image-gallery .col-6{
    overflow-x: hidden;
    margin-bottom: 10px;
}

/*Section first css changes end*/

#reservation{
    background-image: url("../images/png-image/third-section-bg-jpg.png");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center!important;
}

#reservation .pancakes{
    margin : 100px 0px 100px 0px;
    background-image: url("../images/png-image/tasty-pancakes-jpg.png");
}

.pancakes .description{
    margin-right: 0px !important;
}

.pancakes .description{
    text-align: left;
    margin: 80px;
}

.pancakes .description .title{
    line-height: 0.63;
    letter-spacing: 1.2px;
    color: #56534c;
    text-align: left;
}

.pancakes .description .sub-text{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 1.4px;
    text-align: left;
    color: #a47d5e;
}

.pancakes .description .summary{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: left;
    color: #56534c;
}

/*Section second css changes start*/

/*Section second css changes end*/

/*Section third css changes start*/

/*Section third css changes end*/

/*Section fourth css changes start*/

/*Section fourth css changes end*/

/*Footer changes start*/

#footer{
    background-color: #f3f1e9;
}

.footer-menu{
    background-color: #f3f1e9;
    padding: 40px;
}

.footer-menu p{
    display: inline;
}

/*.footer-menu p{
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
}*/

.footer-menu span.site-menu{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 4.2px;
    text-align: left;
    color: #56534c;
    margin: 20px;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
    padding: 10px 0px 10px 0px;
}

.footer-menu p.site-name{
    font-family: Scriptina;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: 5px;
    text-align: left;
    color: #56534c;
}
/*Footer changes end*/