/* 
    Created on : Aug 31, 2018, 11:30:50 AM
    Author     : Saurabh Shukla
*/

/*Nav menu css changes start*/

.navbar-dark .navbar-nav .nav-link{
    font-family: Alegreya;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 4.2px;
    text-align: left;
    color: #ffffff;
}

ul.social-media{
    list-style: none;
}

.hide{
    display: none!important;
}

/*Nav menu css changes end*/

/*Hero css changes start*/

h1.banner-text , div.sub-text{
    background-color: rgba(20, 20, 20, 0.1);
}

.header {
    padding: 60px;
    text-align: center;
    background-image: url("../images/png-image/hero-jpg.png");
    color: white;
    font-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header.masthead{
    background-image: url("../images/png-image/hero-jpg.png");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center!important;
}

.layer{
    background-color: rgba(20, 20, 20, 0.1);
}

.dashed-line {
    box-shadow: 0px 1px 0 0 #3d3029;
    background-color: #ffffff;
    border: solid 2px #ffffff;
    opacity: 0.71;
    background-image: radial-gradient(circle at 0 0, #564f4c, #56534c);
}

/*Hero css changes end*/

/*Section first css changes start*/

#menu{
    background-color: #ffffff;
    margin-top: 105px;
}

.food-icon img{
    margin-top: -55%;
    position: absolute;
}

.art-of-cakes .sub-text{
    font-family: Alegreya;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 1.4px;
    text-align: center;
    color: #a47d5e;
}

.art-of-cakes .title{
    font-weight: bold;
    font-family: Alegreya;
    text-align: center;
    font-size: 48px;
    line-height: 0.63;
    letter-spacing: 1.2px;
    color: #56534c;
}

.art-of-cakes .summary{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: center;
    color: #56534c;
}

.art-of-cakes .chef-cook{
    font-family: Alegreya;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: center;
    color: #56534c;
}

.art-of-cakes .chef-profile{
    text-align: center;
}

.art-of-cakes .chef-profile span{
    font-family: Alegreya;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: center;
    color: #56534c;
    padding: 10px 20px 10px 20px;
    margin : 10px 20px 10px 20px;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
}

.art-of-cakes .block-quote{
    margin: 10px 15px;
}

.art-of-cakes .block-quote .char-one{
    opacity: 0.5;
    font-family: TimesNewRomanPSMT;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: 1.5px;
    color: rgba(86, 83, 76, 0.5);
    text-align: left;
    margin: 0px 0px 0px 60px;
}

.art-of-cakes .block-quote .char-two{
    opacity: 0.5;
    font-family: TimesNewRomanPSMT;
    font-size: 60px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: 1.5px;
    color: rgba(86, 83, 76, 0.5);
    text-align: right;
    margin: 20px 60px 0px 0px;
}

.art-of-cakes .block-quote .text{
    font-family: TimesNewRomanPSMT;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 5.6px;
    text-align: center;
    color: #a47d5e;
}

.taste-good img{
    margin-top: -400%;
    margin-left: 212%;
    position: absolute;
    text-align: center;
}

.taste-good p{
    margin-top: -325%;
    margin-left: 299%;
    position: absolute;
    font-family: Alegreya;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    color: #c9b176;
}

.image-gallery .col-6{
    overflow-x: hidden;
    margin-bottom: 10px;
}

/*Section first css changes end*/

/*Section second css changes start*/

#reservations{
    background-image: url("../images/png-image/third-section-bg-jpg.png");
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center!important;
}

#reservations .pancakes{
    margin : 100px 0px 100px 0px;
    background-image: url("../images/png-image/tasty-pancakes-jpg.png");
}

.pancakes .description{
    margin-right: 0px !important;
    text-align: left;
    margin: 80px;
}

.pancakes .description .title{
    line-height: 0.63;
    letter-spacing: 1.2px;
    color: #56534c;
    text-align: left;
}

.pancakes .description .sub-text{
    font-family: Alegreya;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 1.4px;
    text-align: left;
    color: #a47d5e;
}

.pancakes .description .summary{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 1.4px;
    text-align: left;
    color: #56534c;
}

/*Section second css changes end*/

/*Section third css changes start*/

#news {
    background-image: url(../images/png-image/fourth-section-jpg.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center!important;
    object-fit: contain;
}

#news .breakfast{
    margin: 50px 50px;
}

.breakfast h3.title{
    font-family: Alegreya;
    font-size: 60px;
    line-height: 0.5;
    letter-spacing: 3px;
    color: #ffffff;
}

.breakfast p.sub-text{
    font-family: Alegreya;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: center;
    color: #c8a593;
}

.breakfast h3.sub-title{
    font-family: Alegreya;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.5px;
    color: #ffffff;
}
.breakfast p.sub-title-text{
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: 0.8px;
    text-align: center;
    color: #c2beba;
}

.breakfast p.price{
    font-family: Alegreya;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 1.8px;
    text-align: center;
    color: #dfc691;
}

.breakfast .est-1893{
    position: absolute;
    margin-top: -130%;  
}

.breakfast p.est{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.7px;
    text-align: center;
    width: 50%;
    color: #56534c;
    float: left;
}

.breakfast p.est-year{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.7px;
    text-align: center;
    width: 50%;
    color: #56534c;
    float: left;
}

.breakfast p.est-title{
    font-family: Alegreya;
    font-size: 44px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 1.1px;
    text-align: center;
    color: #56534c;
    margin-top: 30%;
    max-width: 93%;
}

.breakfast p.est-summary{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.7px;
    text-align: center;
    color: #56534c;
    padding: 0px 4rem 0px 2rem;
}

.breakfast button.est-btnRead{
    background-color: transparent;
    border: solid 1px #9e9c93;
    font-family: Alegreya;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.9px;
    text-align: center;
    color: #a47d5e;
    padding: 10px 65px 10px 65px;
    margin-left: -10%;
    margin-top: 10%;
}

/*Section third css changes end*/

/*Section fourth css changes start*/

#contact{
    background-color: #f3f1e9;
    text-align: center!important;
}

.sandwich{
    margin-top: 10px;
}

.sandwich img.windmill{
    margin-bottom: -3%;
}

.sandwich h2.title{
    font-size: 48px;
    line-height: 0.63;
    letter-spacing: 1.2px;
    color: #56534c;
}

.sandwich p.sub-text{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 1.4px;
    text-align: center;
    color: #a47d5e;
}

.aptent h3.aptent-title{
    font-family: Alegreya;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.8px;
    color: #a47d5e;
} 

.aptent p.aptent-summary{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 3.4px;
    color: #56534c;
}

.final-section{
    background-image: url("../images/png-image/final-section-img-copy-jpg.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center!important;
    margin: 6% 0% 4% 8%;
    object-fit: contain;
}

.final-section div.one{
    text-align: right;
    margin-top: 6%;
    margin-right: 6%;
}

.final-section .one p.prep, .one p.mins{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 1.8px;
    color: #a47d5e;

}

.final-section .one p.time{
    font-size: 50px;
    line-height: 0.5;
    color: #56534c;
    font-family: Alegreya;
    font-weight: bold;
}

.final-section div.two{
    text-align: right;
    margin-top: 7%;
    margin-right: 2%;
}

.final-section .two p.prep, .two p.mins{
    font-family: Alegreya;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    color: #a47d5e;

}

.final-section .two p.mins{
    margin-right: 3%;
}

.final-section .two p.time{
    margin-top: 4%;
    margin-right: 1%;
    font-size: 65px;
    line-height: 0.33;
    color: #dfc691;
}

/*Section fourth css changes end*/

/*Footer changes start*/

#footer{
    background-color: #f3f1e9;
}

.footer-menu{
    background-color: #f3f1e9;
    padding: 5%;
}

.footer-menu p{
    display: inline;
}

.footer-menu span.site-menu{
    font-family: Alegreya;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: 4.2px;
    text-align: left;
    color: #56534c;
    margin: 20px;
    border-top: 1px solid #d7d5ca;
    border-bottom: 1px solid #d7d5ca;
    padding: 10px 0px 10px 0px;
}

.footer-menu p.site-name{
    font-family: Scriptina;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: 5px;
    text-align: left;
    color: #56534c;
}

/*Footer changes end*/

@media (min-width: 992px){
    .banner-text {
        font-family: PlayfairDisplay;
        font-size: 92px;
        color: #ffffff;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 6.9px;
        margin-top: 10%;
    }

    .line{
        margin-top: 46px; 
        width: 223px;
        height: 2px;
        opacity: 0.54;
        background-color: #ffffff;
    }

    .sub-text {
        font-size: 24px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 2.4px;
        color: #ffffff;
    }

    .sub-text p{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .btnMenu {
        opacity: 0.6;
        padding: 10px 30px 10px 30px;
        background-color: #56534c;
        border: solid 1px #9e9c93;
        font-family: Alegreya;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 4.2px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
    }

    nav.navbar {
        background-color: rgba(20, 20, 20, 1);
        opacity: 0.5;
        overflow-x: hidden;
    }

    .nav-link{
        padding: 0.2rem 1rem;
    }

    .hide{
        display: initial!important;
    }

    .navbar-brand {
        margin-right: 6rem;
        margin-left: 6rem;
    }

    header.masthead {
        height: 900px;
        min-height: 900px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-nav {
        text-transform: uppercase;
    }

    ul.social-media{
        margin-left: 4rem;
    }

    ul.social-media li {
        display: inline;
        padding: 12px;
    }
}
/* ----------- iPhone X ----------- */

/*iPhone X Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

    .food-icon{
        text-align: center;
    }

    .food-icon img{
        margin-top: -15%!important;
        position: initial!important;
    }

    #menu {
        margin-top: 25px!important;
    }

    .hide{
        display: none!important;
    }

    .banner-text {
        font-family: PlayfairDisplay;
        font-size: 60px;
        color: #ffffff;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
    }

    .line{
        margin-top: 26px; 
        width: 175px;
        height: 2px;
        background-color: #ffffff;
    }

    .sub-text {
        font-size: 24px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 2.4px;
        color: #ffffff;
    }

    .sub-text p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .btnMenu {
        opacity: 0.6;
        padding: 10px 30px 10px 30px;
        background-color: #56534c;
        border: solid 1px #9e9c93;
        font-family: Alegreya;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 4.2px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .footer-menu span.site-menu{
        display: block;
        text-align: center!important;
    }

    .art-of-cakes .chef-profile span{
        margin: 0px;
    }

    .art-of-cakes .block-quote ,
    .art-of-cakes .block-quote .char-one ,
    .art-of-cakes .block-quote .char-two{
        margin: 0px;
    }

    .art-of-cakes .block-quote .text{
        font-size: 20px;
    }

    .image-gallery{
        text-align: center;
    }

    .taste-good{
        display: none;
    }

    .pancakes .description{
        background-color: #ffffff;
        padding: 30px;
    }

    .breakfast img{
        width: 150%;
        height: 100%;
    }

    .breakfast .est-1893{
        margin-top: -128%;
    }

    .breakfast p.est{
        width: 62%;
    }

    .breakfast p.est-year{
        width: 0%;
    }

    .breakfast p.est-title{
        font-size: 28px;
    }

    .final-section{
        background-size: 90% 95%;
    }

    .final-section div.one{
        margin-top: 9%;
        margin-right: 10%;
    }

    .final-section .one p.prep, .one p.mins{
        font-size: 10px;
    }

    .final-section .one p.time{
        font-size: 26px;
    }

    .final-section .two p.prep, .two p.mins{
        font-size: 12px;
        margin-right: 6%;
    }

    .final-section .two p.time{
        margin-top: 4%;
        margin-right: 8%;
        font-size: 38px;
    }

    .final-section .two p.mins{
        margin-right: 10%;
    }
}

/*iPhone X Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

    a.nav-link.hide {
        display: initial!important;
    }

    .nav-link{
        padding: 0.2rem 1rem;
    }

    .food-icon{
        text-align: center;
    }

    .food-icon img{
        margin-top: -162%!important;
        margin-left: -100%!important;
        position: initial!important;
    }

    #menu {
        margin-top: 25px!important;
    }

    .hide{
        display: none!important;
    }

    .banner-text {
        font-family: PlayfairDisplay;
        font-size: 60px;
        color: #ffffff;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
    }

    .line{
        margin-top: 26px; 
        width: 175px;
        height: 2px;
        background-color: #ffffff;
    }

    .sub-text {
        font-size: 24px;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 2.4px;
        color: #ffffff;
    }

    .sub-text p{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .btnMenu {
        opacity: 0.6;
        padding: 10px 30px 10px 30px;
        background-color: #56534c;
        border: solid 1px #9e9c93;
        font-family: Alegreya;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 4.2px;
        color: #ffffff;
        text-transform: uppercase;
    }

    .footer-menu span.site-menu{
        display: block;
        text-align: center!important;
    }

    .art-of-cakes .chef-profile span{
        margin: 0px;
        font-size: 16px;
    }

    .art-of-cakes .block-quote ,
    .art-of-cakes .block-quote .char-one ,
    .art-of-cakes .block-quote .char-two{
        margin: 0px;
    }

    .art-of-cakes .block-quote .text{
        font-size: 20px;
    }

    .image-gallery{
        text-align: center;
    }

    .taste-good{
        display: none;
    }

    .pancakes .description{
        background-color: #ffffff;
        padding: 30px;
    }

    .pancakes .description .title{
        font-size: 16px;
    }

    .pancakes .description .sub-text{
        font-size: 10px;
    }

    .image-gallery img{
        max-width: 116%;
        height: 96%;
    }

    .taste-good{
        display: initial;
    }

    .taste-good img {
        margin-top: -545%!important;
        max-width: 250%!important;
        margin-left: 215%!important;
    }

    .taste-good p {
        margin-top: -490%!important;
        margin-left: 280%!important;
        position: absolute;
        font-family: Alegreya;
        font-size: 18px!important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: 1.5px;
        text-align: center;
        color: #c9b176;
    }

    #news .breakfast img{
        width: 150%;
        height: 100%;
    }

    .breakfast .est-1893{
        margin-top: -184%;
    }

    .breakfast p.est-title{
        font-size: 22px;
    }

    .breakfast p.est-summary{
        font-size: 12px;
    }

    .final-section{
        background-size: 100% 90%;
    }

    .final-section div.one{
        margin-top: 16%;
        margin-right: 4%;
    }

    .final-section div.two{
        margin-top: 16%;
        margin-right: -2%;
    }

    .final-section .two p.mins{
        margin-right: 6%;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/*iPad Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

    .navbar-dark .navbar-nav .nav-link{
        letter-spacing: 3.0px;
    }

    a.nav-link.hide {
        display: initial!important;
    }

    .nav-link{
        padding: 0.2rem 1rem;
    }

    .header h1.banner-text{
        margin-top: 5%!important;
    }

    .btnMenu {
        opacity: 0.6;
        padding: 10px 30px 10px 30px;
        background-color: #56534c;
        border: solid 1px #9e9c93;
        font-family: Alegreya;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 4.2px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
    }

    .food-icon img {
        margin-top: -75%;
        position: absolute;
        margin-left: -45%;
    }

    .art-of-cakes .chef-profile span{
        margin: 10px;
        padding: 5px;
    }

    .art-of-cakes .block-quote .char-one{
        margin: 0px;
    }

    .art-of-cakes .block-quote .text{
        font-size: 20px;
    }

    .art-of-cakes .block-quote .char-two{
        margin: 0px;
    }

    .image-gallery img{
        max-width: 116%;
        height: 96%;
    }

    .taste-good img {
        margin-top: -545%;
        max-width: 288%;
        margin-left: 215%;
    }

    .taste-good p{
        margin-top: -475%;
        margin-left: 280%;
        font-size: 24px;
    }

    .pancakes .description{
        background-color: #ffffff;
        padding: 20px;
    }

    .pancakes .description .title{
        font-size: 16px;
    }

    .pancakes .description .sub-text{
        font-size: 10px;
    }

    .footer-menu span.site-menu{
        display: block;
        text-align: center;
    }

    .breakfast img{
        width: 150%;
        height: 100%;
    }

    .breakfast .est-1893{
        margin-top: -184%;
    }

    .breakfast p.est-title{
        font-size: 22px;
    }

    .breakfast p.est-summary{
        font-size: 10px;
    }

    .final-section{
        background-size: 100% 82%;
    }

    .final-section div.one{
        margin-top: 10%;
        margin-right: 4%;
    }

    .final-section div.two{
        margin-top: 18%;
        margin-right: -2%;
    }

    .final-section .two p.time{
        font-size: 55px;
    }

}

/*iPad Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

    .navbar-brand{
        margin-right: 2rem;
        margin-left: 0px;
    }

    .navbar-dark .navbar-nav .nav-link{
        letter-spacing: 3.0px;
    }

    a.nav-link.hide {
        display: initial!important;
    }

    .nav-link{
        padding: 0.2rem 1rem;
    }

    .header h1.banner-text{
        margin-top: 5%!important;
    }

    .btnMenu {
        opacity: 0.6;
        padding: 10px 30px 10px 30px;
        background-color: #56534c;
        border: solid 1px #9e9c93;
        font-family: Alegreya;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: 4.2px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
    }

    .food-icon img {
        margin-top: -75%;
        position: absolute;
        margin-left: -45%;
    }

    .art-of-cakes .chef-profile span{
        margin: 10px;
        padding: 5px;
    }

    .art-of-cakes .block-quote .char-one{
        margin: 0px;
    }

    .art-of-cakes .block-quote .text{
        font-size: 20px;
    }

    .art-of-cakes .block-quote .char-two{
        margin: 0px;
    }

    .image-gallery img{
        max-width: 116%;
        height: 96%;
    }

    .taste-good img {
        margin-top: -458%;
        max-width: 288%;
        margin-left: 215%;
    }

    .taste-good p{
        margin-top: -392%;
        margin-left: 280%;
        font-size: 32px;
    }

    .pancakes .description{
        padding: 20px;
        margin-right: -42px !important;
    }

    .pancakes .description .title{
        font-size: 16px;
    }

    .pancakes .description .sub-text{
        font-size: 10px;
    }

    .footer-menu span.site-menu{
        display: block;
        text-align: center;
    }

    .footer-menu span.hide, p.site-name{
        display: none!important;
    }

    .breakfast img{
        height: 100%;
        width: 150%;
    }

    .breakfast .est-1893{
        margin-top: -138%;
    }

    .breakfast p.est-title{
        font-size: 30px;
    }

    .breakfast p.est-summary{
        font-size: 10px;
    }

    .final-section{
        background-size: 100% 90%;
    }

    .final-section div.one{
        margin-top: 8%;
    }

}